.wp-block-spearfishing-stuff-weather {
	margin-top: 20px auto;
	max-width: 1440px;

	.wp-weather-content {
		display: flex;
		gap: 20px;

		.weather-data {
			color: #fff;
			background-color: rgb(0 3 55 / 50%);
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 5px;
			padding: 20px;

			h2.heading {
				margin: 5px auto;
				font-weight: 100;
			}

			svg {
				fill: #fff;
				margin: 0 50px;
			}

			div {
				display: grid;
				grid-template-columns: 1fr auto;
				align-items: center;

				p {
					margin: 0 10px 0 0;
					justify-self: end;
				}

				span {
					&.meters:after {
						content: 'm';
						font-size: 10px;
					}
					
					&.degrees:after {
						content: '°';
						position: absolute;
						font-size: 10px;
					}
				}
			}
		}
	}
}