.wp-block-spearfishing-stuff-weather {
	margin: 20px auto;
	max-width: 1440px !important;
	width: 100%;

	// Mobile responsive for screens smaller  than 500px
	@media (max-width: 500px) {
		.wp-spearfishing-weather-content {
			flex-direction: column;
		}
	}

	.wp-spearfishing-weather-content {
		display: flex;
		gap: 20px;

		span.unit {
			font-size: 12px;
		}

		.weather-data {
			color: #fff;
			background-color: rgb(0 3 55 / 50%);
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 5px;
			padding: 20px;

			svg {
				fill: #fff;
			}

			p,
			h3 {
				margin: 0;
			}
		}

		.forecast-day {
			width: 100%;

			.forecast-data {
				display: grid;
				grid-template-rows: repeat(14, auto);
				width: 100%;
				overflow: hidden;
				border: 1px solid #000;
				border-radius: 5px;

				.forecast-hour {
					display: flex;
					justify-content: space-between;
					align-items: center;
					height: 0;
					overflow: hidden;
					opacity: 0;
					transition: 500ms ease-in-out all, opacity 500ms 100ms ease-in-out;

					&.best-hour {
						opacity: 1;
						height: 40px;
						padding: 5px;
						background-color: #ffcc00;
						border: 1px solid black;
						margin: -1px;
					}

					.wind,
					.wave {
						&.good {
							color: green;
						}
						&.bad {
							color: var(--wp--preset--color--secondary);
						}
					}

					& > div {
						display: flex;
						width: 25%;
						justify-content: space-between;
					}

					h4,
					p {
						margin: 0;
					} 
				}
			}

			&.open {
				.forecast-hour {
					opacity: 1;
					height: 40px;
					padding: 5px;
					border-bottom: 1px solid #000;

					&:last-of-type {
						border-bottom: none;
					}
				}
			}
		}
	}
}

.wp-block-cover {
	border-radius: 5px;
}
