.wp-block-spearfishing-stuff-scale-section {
	display: grid;
	place-content: center;
	background-color: inherit;
	background-image: url(../../assets/fish-background.svg);
	width: 100%;
	animation: pan 100s linear infinite;
	will-change: background-position;
	border: none;
	  
	.wp-scale-section-content {
		background-color: #fff;
		text-align: center;

		h2 {
			margin: 40px 100px;
		}
	}
}

@keyframes pan {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}